body{
    padding: 100px;
}
.submit-aria{
    margin-top: 50px;
    border-radius: 10px;
    padding: 45px;
    box-shadow: 10px 5px 10px gray;
}
#transaction-aria{
    display: none;
}
.status{
    margin: 0px 15px;
    color: white;
    border-radius: 15px;
    padding: 20px;
}
.deposit{
    background-color: rgb(67, 240, 81);
}
.withdraw{
    background-color: turquoise;
}
.balance{
    background-color: tomato;
}
